<h1>Create Your Drink!</h1>

<% if @new_drink.errors.any? %>
    <% @new_drink.errors.full_messages.each do |error| %>
    <div><%= error %></div>
    <% end %>
<% end %>

<%= form_with url: @new_drink, method: 'post', local: true do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    $<%= f.number_field :price %>

    <%= f.label :alcohol %>
    %<%= f.number_field :alcohol, step: :any %>

    <%= f.label :classification %>
    <%= f.select :classification, ["Beer", "Wine", "Cocktail"] %>

    <%= f.label :user_id%>
    <%= f.collection_select :user_id, User.all, :id, :name%>
    <%= f.submit 'Create Drink'%>
<% end %>