<h1>Welcome to Cheers! Sign Up Here</h1>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
    <%= error %>
    <% end %>
<% end %>



<%= form_with url: "/signup", method: "post", local: true do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>

<%= f.submit "Create Your Account" %>
<% end %>


<br>
