<h1>Welcome <%= @user.name %>!</h1>



<h3>Friends List!</h3>
<% @user.friends.each do |friend| %>
    <%= link_to friend.name, user_path(friend.id) %>
<%end %>

<% @user.drinks.each do |drink| %>
    <%= link_to drink.name, drink_path(drink.id) %>
<% end %>




<br>
<br>
<% if @user.id == session[:user_id] %>
<%= form_with url: '/logout', method: 'delete' do |f|%>
    <%= f.submit 'Logout'%>
<% end %>
<% end %>

<%= link_to 'Create Drink', new_drink_form_path%>

<br>
<% if @user.id == session[:user_id] %>
<%= button_to 'Delete Account', @user, method: 'delete' %>
<% end %>


<br>

<%= link_to 'Checkout our Drinks!', drinks_path%>

<br>
<% if @user.id == session[:user_id] %>
<%= link_to 'Add A Friend', relationship_new_path %>
<% end %>

<% if @user.id == session[:user_id] %>
<%= link_to "Edit Profile", edit_path %>
<% end %>