<h1>Welcome <%= @user.name %>!</h1>

<%= form_with url: '/logout', method: 'delete' do |f|%>
    <%= f.submit 'Logout'%>
<% end %>

<%= button_to 'Delete Account', @user, method: 'delete' %>


<br>

<%= link_to 'Checkout our Drinks!', drinks_path%>


<%= link_to 'Add A Friend', relationship_new_path %>
